{% extends "layout.html" %}
{% block title %}Create File{% endblock %}
{% block body %}
  <h2>Create a new file in SUFS</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post">
    <dl>
      <dt>File Path:
      <dd><input type="text" name="filepath" size="30" value="{{ request.form.filepath }}">
      <dt>S3 File Path:
      <dd><input type="text" name="S3filepath" size="30" value="{{ request.form.S3filepath }}">
    </dl>
    <div class="actions"><input type="submit" value="Submit"></div>
  </form>
  {% if data %}
  	<p><b>{{ data.status }}</b></p>
  {% endif %}
{% endblock %}
