{% extends "layout.html" %}
{% block title %}List Contents{% endblock %}
{% block body %}
  <h2>List the contents of a directory in SUFS (Please include / at the end of the directory name)</h2>
  <form action="" method="post">
    <dl>
      <dt>Directory Path:
      <dd><input type="text" name="filepath" size="30" value="{{ request.form.filepath }}">
    </dl>
    <div class="actions"><input type="submit" value="Submit"></div>
  </form>
  {% if data.status %}
    {{data.status}}
  {% endif %}
  {% if data.contents %}
  	{% for content in data.contents %}
  		<h1><div>{{ content }}</div></h1>
  	{% endfor %}
  {% endif %}
{% endblock %}
